.App {
  text-align: center;

  padding: 40px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header .links {
  display: flex;
  flex-direction: row;
}

.header .links a {
  margin-left: 20px;
  text-decoration: none;
}

.header .links a.highlight {
  background-color: darkgrey;
  padding: 10px;
}